extends layout
block content
  h1= title
  ul.breadcrumb
    li
      a(href="/") Home
      span.divider /
    li.active !{post.title}
  div.post-meta
    div.post-date Date: #{post.date}
    div.btn-group
      a(href="/edit-post/"+post._id.toHexString()).btn Edit
      | &nbsp; &nbsp;
      a(href="/delete-post/"+post._id.toHexString()).btn Delete
  div.post
    div.post-content !{post.content} 
